@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Grid Pattern for Hero Section */
.bg-grid-gray-900\/\[0\.04\] {
    background-image: linear-gradient(to right, rgb(17 24 39 / 0.04) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(17 24 39 / 0.04) 1px, transparent 1px);
}

.dark .bg-grid-white\/\[0\.02\] {
    background-image: linear-gradient(to right, rgb(255 255 255 / 0.02) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(255 255 255 / 0.02) 1px, transparent 1px);
}

